.page {
    background-color: #000;
    color: #FFFFFF;
    font-weight: 400;
    margin: 0 auto;
    font-family: "Inter", Arial, sans-serif;
    padding: 45px 19px 60px;
    text-rendering: optimizeLegibility;
    max-width: 882px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -ms-font-feature-settings: "kern";
    font-feature-settings: "kern";
    display: grid;
    grid-template-areas: "header"
        "profile"
        "cards"
        "footer";
}

@media (min-width:1260px) {
    .page {
        padding: 45px 200px 60px;
    }
}

@media (max-width:837px) {
    .page {
        padding: 28px 19px 36px;
        /* max-width: 282px;*/
    }
}

@media (max-width: 470px) {
    .page {
        padding: 28px 0 36px;

    }
}