.overlay {
    position: fixed;
    /* position: absolute;*/
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    justify-content: center;
    visibility: hidden;
    align-items: center;
    opacity: 0;
    transition: ease .9s opacity;
}