.close-btn {
    position: absolute;
    background-image: url(../../images/Button-1.svg);
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
}

@media (max-width:665px) {
    .close-btn {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}