.cards {
    display: grid;
    row-gap: 20px;
    column-gap: 17px;
    grid-template-columns: repeat(3, minmax(auto, 282px));
    grid: dense;
    align-items: center;
    justify-content: center;
    grid-area: cards;
}

@media (max-width:837px) {
    .cards {
        grid-template-columns: repeat(1, minmax(auto, 282px));
        /*  display: flex;
        flex-direction: column;*/
    }
}