.card {
    /*max-width: 282px;*/
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 10px;
    color: #000;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
}

@media (max-width:837px) {
    .card {
        width: calc(100vw - 38px);
    }
}